.myp-tabview-nav .p-tabview-nav {
  align-content: center;
  color: red;
  justify-content: center;
}
body {
  overflow-x: hidden;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}
